* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    text-align: center;
}

button {
    font-size: 30px;
    cursor: pointer;
}

.hangman {
    height: 50vh;
}

.dashes {
    display: flex;
    justify-content: center;
}

.dash,
.letter {
    padding: 10px;
    margin: 5px;
}